<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @seller.name %>
</p>

<p>
  <b>Priority:</b>
  <%= @seller.priority %>
</p>

<p>
  <b>Description:</b>
  <%= @seller.description %>
</p>


<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
